<div class="home-container">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-xs-center align-middle">
    <div id="home-logo">
      <h1 class="display-1"><span>NTS</span>Fin</h1>
      <p class="sub-home-logo">Financial analysis and reporting app</p>
    </div>
    <div class="row button-wrapper">
      <div class="col-md-5">
        <button type="button" 
                class="btn btn-success btn-raised btn-md"
                (click)="goLogin()">Login</button>
      </div>
      <div class="col-md-2 button-separator">or</div>
      <div class="col-md-5">
        <button type="button" 
                class="btn btn-primary btn-raised btn-md"
                (click)="goSignup()">Sign up</button>
      </div>
    </div>
  </div>
</div>
<nts-footer></nts-footer>