<footer [ngClass]="isHome ? 'al-footer-home' : 'al-footer'" class="clearfix">
    <div class="al-footer-right">Created with <i class="ion-heart"></i></div>
    <div class="al-footer-main clearfix">
        <div class="al-copy">&copy; <a href="http://ntsconsulting.com.ua">NTS Consulting</a> 2016</div>
        <ul class="al-share clearfix">
            <li><a href="https://www.facebook.com/ntsconsult" target="_blank"><i class="socicon socicon-facebook"></i></a></li>
            <li><i class="socicon socicon-twitter"></i></li>
            <li><i class="socicon socicon-google"></i></li>
        </ul>
    </div>
</footer>